<div id="app">
    <div class="wln">
        <div class="wln-title">标签名称管理
            <a href="javascript:self.history.back()"><i class="iconfont icon-plug"></i>返回</a>
        </div>
        <el-table :data="rows" :empty-text="message">
            <el-table-column width="150" align="left" label="标签" property="key"></el-table-column>
            <el-table-column width="270" property="label" label="名称"></el-table-column>
            <el-table-column></el-table-column>
            <el-table-column width="150" align="center" label="操作">
                <template scope="scope">
                    <el-button size="small" type="danger" @@click="handleUpdate(scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: function () { return emptyPager },
        methods: {
            refresh() {
                var _self = this;
                $.getJSON(location.pathname, { 'do': 'pager', page: _self.index, rows: 999, key: _self.key }, function (rlt) {
                    _self.message = rlt.message;
                    _self.total = rlt.total;
                    _self.index = rlt.index;
                    _self.size = rlt.size;
                    _self.rows = rlt.rows;
                });
            },
            handleUpdate(row) {
                var _self = this;
                this.$prompt('标签名称有缓存，修改后将在5至10分钟后生效', '请输入标签名称', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputValue: row.label
                }).then(({ value }) => {
                    $.getJSON(location.pathname, { 'do': 'update', key: row.key, label: value }, function (rlt) {
                        _self.refresh();
                        if (row.key == 'app' || row.key == 'organ') {
                            sessionStorage.removeItem('menu');
                            Reload();
                        }
                        app.$message({ type: rlt.success ? 'success' : 'error', message: rlt.message });
                    });
                }).catch(() => {
                    app.$message({ type: 'info', message: '删除操作已取消' });
                });
            }
        }, created() {
            this.refresh();
        }
    });
</script>