<div id="app">
    <div class="wln" style="text-align:center;">
        <el-button-group>
            <el-button v-bind:plain="current!=='organs'" type="primary" @@click="toPage('organs')"><svg class="icon"><use v-bind:xlink:href="'#icon-organ'"></use></svg> @Html.Raw(ViewBag.LabelOrgan)权限</el-button>
            <el-button v-bind:plain="current!=='app'" type="primary" @@click="toPage('app')"><svg class="icon"><use v-bind:xlink:href="'#icon-apps'"></use></svg> @Html.Raw(ViewBag.LabelApp)权限</el-button>
            <el-button v-bind:plain="current!=='sys'" type="primary" @@click="toPage('sys')"><svg class="icon"><use v-bind:xlink:href="'#icon-setting'"></use></svg> 系统权限</el-button>
        </el-button-group>
    </div>
    <div class="wln">
        <router-view></router-view>
    </div>
</div>
<template id="app-organs">
    <el-table :data="rows" :empty-text="message">
        <el-table-column width="210" align="center" property="name" label="@Html.Raw(ViewBag.LabelOrgan)"></el-table-column>
        <el-table-column width="120" align="center" label="查看权限">
            <template scope="scope">
                <el-popover trigger="hover" placement="right">
                    <p>有数据管理、流程审批、删除等权限时，将默认授予查看权限</p>
                    <div slot="reference" class="name-wrapper">
                        <el-button size="small" type="success" @@click="setOrgans('Organ',scope.row.organ)" v-if="scope.row.Organ">已授权</el-button>
                        <el-button size="small" type="gray" @@click="setOrgans('Organ',scope.row.organ)" v-else>未授权</el-button>
                    </div>
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column width="120" align="center" label="数据管理">
            <template scope="scope">
                <el-button size="small" type="success" @@click="setOrgans('Organ_Editer',scope.row.organ)" v-if="scope.row.Organ_Editer">已授权</el-button>
                <el-button size="small" type="gray" @@click="setOrgans('Organ_Editer',scope.row.organ)" v-else>未授权</el-button>
            </template>
        </el-table-column>
        <el-table-column width="120" align="center" label="流程审批">
            <template scope="scope">
                <el-button size="small" type="success" @@click="setOrgans('Organ_Verify',scope.row.organ)" v-if="scope.row.Organ_Verify">已授权</el-button>
                <el-button size="small" type="gray" @@click="setOrgans('Organ_Verify',scope.row.organ)" v-else>未授权</el-button>
            </template>
        </el-table-column>
        <el-table-column width="120" align="center" label="删除特权">
            <template scope="scope">
                <el-button size="small" type="success" @@click="setOrgans('Organ_Delete',scope.row.organ)" v-if="scope.row.Organ_Delete">已授权</el-button>
                <el-button size="small" type="gray" @@click="setOrgans('Organ_Delete',scope.row.organ)" v-else>未授权</el-button>
            </template>
        </el-table-column>
        <el-table-column></el-table-column>
    </el-table>
</template>
<template id="app-app">
    <el-table :data="rows" :empty-text="message">
        <el-table-column width="120" align="center" property="app" label="@Html.Raw(ViewBag.LabelApp)"></el-table-column>
        <el-table-column width="180" label="权限点">
            <template scope="scope">
                <el-popover trigger="hover" placement="right">
                    <p>权限代码: {{ scope.row.code }}</p>
                    <p v-if="scope.row.description">功能说明 : {{ scope.row.description }}</p>
                    <div slot="reference" class="name-wrapper">{{ scope.row.name }}</div>
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column></el-table-column>
        <el-table-column width="120" align="center" label="授权状态">
            <template scope="scope">
                <el-button size="small" type="success" @@click="set(scope.row.code)" v-if="scope.row.right">已授权</el-button>
                <el-button size="small" type="gray" @@click="set(scope.row.code)" v-else>未授权</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>
<template id="app-sys">
    <el-table :data="rows" :empty-text="message">
        <el-table-column width="40" align="center" type="index"></el-table-column>
        <el-table-column width="180" label="权限点">
            <template scope="scope">
                <el-popover trigger="hover" placement="right">
                    <p>权限代码: {{ scope.row.code }}</p>
                    <p v-if="scope.row.description">功能说明 : {{ scope.row.description }}</p>
                    <div slot="reference" class="name-wrapper">{{ scope.row.name }}</div>
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column></el-table-column>
        <el-table-column width="120" align="center" label="授权状态">
            <template scope="scope">
                <el-button size="small" type="success" @@click="set(scope.row.code)" v-if="scope.row.right">已授权</el-button>
                <el-button size="small" type="gray" @@click="set(scope.row.code)" v-else>未授权</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>
<script type="text/javascript">
    function toPage(to) {
        emptyPager.rows = [];
        emptyPager.message = '正在加载账号权限数据';
        router.push('/system/rights/' + to + '?sid=' + emptyPager.sid);
    }
    function Change(code, organ, appTarget) {
        if (emptyPager.loading) {
            app.$message({ type: 'warning', message: '请求正在处理中，请勿重复提交' });
        } else {
            emptyPager.loading = true;
            $.ajax({
                url: location.pathname, data: { 'do': 'change', sid: emptyPager.sid, code: code, organ: organ }, dataType: 'json', success: function (rlt) {
                    emptyPager.loading = false;
                    if (rlt.success) {
                        appTarget.refresh();
                    } else {
                        app.$message({ type: 'error', message: rlt.message });
                    }
                }, error: function (xhr, status) {
                    emptyPager.loading = false;
                    if (status == 'timeout') {
                        app.$message({ type: 'warning', message: '请求超时，请稍后再试' });
                    } else {
                        app.$message({ type: 'error', message: '请求错误，请刷新页面重试' });
                    }
                }
            });
        }
    }
    var appOrgans = Vue.extend({
        template: '#app-organs',
        data: function () {
            emptyPager.current = 'organs';
            return emptyPager
        },
        methods: {
            refresh() {
                var _self = this;
                $.getJSON(location.pathname, { 'do': 'organs', sid: _self.sid }, function (data) {
                    if (data && data.length > 0) {
                        _self.rows = data;
                    } else {
                        _self.message = '暂无可配置的权限';
                    }
                });
            },
            setOrgans(code, organ) {
                Change(code, organ ? organ : '', this);
            }
        }, created() {
            this.refresh();
        }
    })
    var appApp = Vue.extend({
        template: '#app-app',
        data: function () {
            emptyPager.current = 'app';
            return emptyPager
        },
        methods: {
            refresh() {
                var _self = this;
                $.getJSON(location.pathname, { 'do': 'app', sid: _self.sid }, function (data) {
                    if (data && data.length > 0) {
                        _self.rows = data;
                    } else {
                        _self.message = '暂无可配置的权限';
                    }
                });
            },
            set(code) {
                Change(code, '', this);
            }
        }, created() {
            this.refresh();
        }
    })
    var appSys = Vue.extend({
        template: '#app-sys',
        data: function () {
            emptyPager.current = 'sys';
            return emptyPager
        },
        methods: {
            refresh() {
                var _self = this;
                $.getJSON(location.pathname, { 'do': 'sys', sid: _self.sid }, function (data) {
                    if (data && data.length > 0) {
                        _self.rows = data;
                    } else {
                        _self.message = '暂无可配置的权限';
                    }
                });
            },
            set(code) {
                Change(code, '', this);
            }
        }, created() {
            this.refresh();
        }
    })
    var router = new VueRouter({
        mode: 'history', routes: [
            { path: '/system/rights/organs', component: appOrgans }
            , { path: '/system/rights/app', component: appApp }
            , { path: '/system/rights/sys', component: appSys }
        ]
    });
    var app = new Vue({
        el: '#app', router: router,
        data: function () {
            emptyPager.sid = this.getParam('sid');
            emptyPager.current = '';
            return emptyPager
        }
    });
</script>