@{ 
    Layout = null;
}<html>
<head>
    <title>用户登录</title>
    <meta name="viewport" content="width=320,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <style type="text/css">
        *{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0px;padding:0px;border:none;}li{ list-style:none;}a,a:link,a:visited,a:hover,a:active{text-decoration:none;color:#111111;}
    </style>
</head>
<body style="background:#f1f1f1;">
    <div id="My">
        <div class="loginDiv" style="width:100%;height:100%;font-size:14px;">
            <div style="height:10px;"></div>
            <div style="position:absolute;color:#323232;margin:0px 10px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);">
                <li style="background:#f8f8f8;width:100%;height:100%;overflow:hidden;">
                    <div style="height:100%;display:table-cell;vertical-align:middle;"><label style="display:inline-block;padding:0 5px 0 10px;white-space:nowrap;">手机号:</label></div>
                    <div style="height:100%;display:table-cell;vertical-align:middle;width:100%;"><input id="login_mobile" onclick="this.focus();" type="tel" maxlength="13" style="height:45px;line-height:43px;font-size:14px;border:0;background:none;width:100%;"></div>
                </li>
                <li style="background:#f8f8f8;width:100%;height:100%;overflow:hidden;border-top:1px solid #c6c6c6;">
                    <div style="height:100%;display:table-cell;vertical-align:middle;"><label style="display:inline-block;padding:0 5px 0 10px;white-space:nowrap;">验证码:</label></div>
                    <div style="height:100%;display:table-cell;vertical-align:middle;width:100%;"><input id="login_vcode" onkeydown="keylogin(event)" onclick="this.focus();" type="tel" maxlength="6" style="height:45px;line-height:43px;font-size:14px;border:0;background:none;width:100%;"></div>
                    <div style="height:100%;display:table-cell;vertical-align:middle;width:100px;"><input id="btn_vcode" type="button" value="获取验证码" onclick="DoLogin('sendpwd')" style="height:45px;line-height:45px;color:#ffffff;width:120px;text-align:center;background:#2FB0C2;font-size:12px;"></div>
                </li>
            </div>
            <div style="margin: 100px 10px 8px 10px;">
                <input id="btn_login" type="button" value="立即登录" onclick="DoLogin('login')" style="height:45px;line-height:43px;width:100%;background:#F8F8F8;color:#000000;text-align:center;font-size:14px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);">
            </div>
            <div style="text-align:center;padding:20px;opacity:0.5;font-family:'Microsoft YaHei'">@Html.Raw(ViewBag.Description)</div>
        </div>
    </div>
    <script type="text/javascript" src="//static.wlniao.com/wlniao/1.0.0/wln.js?v1711"></script>
    <script type="text/javascript">
        var seconds = 60; var intervalId; var btnObj;
        function DoLogin(action) {
            btnObj = document.getElementById('btn_vcode');
            var telephone = document.getElementById('login_mobile').value;
            var vcode = document.getElementById('login_vcode').value;
            if (!telephone) {
                wln.alert('请输入手机号');
            } else if (!vcode && action == 'login') {
                wln.alert('请输入验证码');
            } else {
                if (action == 'sendpwd') {
                    btnObj.setAttribute("disabled", "disabled");
                    btnObj.value = "正在发送，请稍候...";
                }
                wln.get(location.pathname, { 'do': action, 'mobile': telephone, 'vcode': vcode }, function (json) {
                    if (json.success) {
                        if (action == 'sendpwd') {
                            btnObj.setAttribute("disabled", "disabled");
                            btnObj.style.backgroundColor = "#999999";
                            btnObj.value = "验证码发送成功";
                            intervalId = setInterval(function () {
                                seconds--;
                                if (seconds > 0) {
                                    btnObj.value = seconds + "秒后可重新获取";
                                } else {
                                    clearInterval(intervalId);
                                    btnObj.removeAttribute("disabled");
                                    btnObj.style.backgroundColor = "#2FB0C2";
                                    btnObj.value = "获取验证码";
                                    seconds = 60;
                                    btnObj = null;
                                }
                            }, 1000);
                        } else if (action == 'login') {
                            //history.replaceState(null, '', location.pathname);
                            wln.reload();
                        }
                    } else if (json.message) {
                        if (action == 'sendpwd') {
                            btnObj.removeAttribute("disabled");
                            btnObj.style.backgroundColor = "#2FB0C2";
                            btnObj.value = "获取验证码";
                        } else if (action == 'login') {
                        }
                        wln.alert(json.message);
                    }
                });
            }
        }
        function keylogin(event) {
            if (event.keyCode == 13) {
                DoLogin('login')
            }
        }
    </script>
</body>
</html>