<!DOCTYPE html>
<html lang="zh">
<head>
    <title>@Html.Raw(ViewBag.SystemName)</title>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="/oem/style.css" />
    <link rel="stylesheet" href="/vue/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/xcenter.css" />
    <script type="text/javascript">
        var _ua = navigator.userAgent.toLowerCase();
        if (_ua.indexOf('msie') >= 0 || _ua.indexOf('firefox') >= 0 || _ua.indexOf('opera') >= 0 || _ua.indexOf('chrome') < 0) {
            document.write('<div style="font-size:12px;color:#333;width:100%;height:40px;line-height:40px;background:#FFC107;text-align:center;">您正在使用浏览器未完全支持本系统特性，我们推荐使用以下浏览器： <a href="http://browser.qq.com">QQ浏览器</a> / <a href="http://se.360.cn">360安全浏览器</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome最新版</a></div>');
        }
    </script>
    <script type="text/javascript" src="/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/vue/vue.min.js"></script>
    <script type="text/javascript" src="/vue/vue-router.js"></script>
    <script type="text/javascript" src="/vue/vue-xcenter.js"></script>
    <script type="text/javascript" src="/vue/element-ui/index.js"></script>
    <script type="text/javascript" src="/iconfont/iconfont.js"></script>
</head>
<body>
    <div id="main">
        <div id="left" style="width:168px" onselectstart="return false;">
            <div class="logo" onclick="GoHome()" style="background-image:url('/oem/logo.png')"></div>
            <div class="menu" id="menu" style="display:none">
                <div class="menu-group" v-for="group in groups">
                    <h2 class="menu-title">{{group.title}}</h2>
                    <div v-for="item in group.items">
                        <div v-if="item.sub">
                            <a class="menu-item has-sub" v-bind:class="{'active':item.open}" @@click="submenu(item,$event)">
                                <svg class="icon min">
                                    <use xlink:href="#icon-down" v-if="item.open"></use>
                                    <use xlink:href="#icon-right" v-else></use>
                                </svg>
                                <svg class="icon" v-if="item.icon.indexOf('//') < 0"><use v-bind:xlink:href="'#icon-' + item.icon"></use></svg>
                                <img class="icon" :src="item.icon" v-else />
                                <span class="text">{{item.name}}</span>
                            </a>
                            <div class="menu-item-container" v-bind:class="{'no-hide':item.open}">
                                <router-link class="menu-item menu-item-sub" :to="sub.link" v-for="sub in item.sublist">
                                    <svg class="icon" v-if="sub.icon.indexOf('//') < 0"><use v-bind:xlink:href="'#icon-' + sub.icon"></use></svg>
                                    <img class="icon" :src="sub.icon" v-else />
                                    <span class="text">{{sub.name}}</span>
                                </router-link>
                            </div>
                        </div>
                        <router-link class="menu-item" :to="item.link" v-else>
                            <svg class="icon" v-if="item.icon.indexOf('//') < 0"><use v-bind:xlink:href="'#icon-' + item.icon"></use></svg>
                            <img class="icon" :src="item.icon" v-else />
                            <span class="text">{{item.name}}</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div id="topbar">
                <div style="float:right;">
                    <div style="float:right;border-left:1px solid #e9e9e9;padding:0px 15px;margin-left:15px;">
                        <el-tooltip content="返回上一个页面" placement="bottom">
                            <a onclick="history.back()"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left1"></use></svg></a>
                        </el-tooltip>
                        <el-tooltip content="刷新页面及菜单" placement="bottom">
                            <a onclick="Reload()"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-refresh"></use></svg></a>
                        </el-tooltip>
                        <el-tooltip content="在线帮助" placement="bottom">
                            <a onclick="Vue.prototype.$message({ message: '在线帮助内容正在整理中' });"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-help"></use></svg></a>
                        </el-tooltip>
                        <el-tooltip content="注销登录" placement="bottom">
                            <a href="/logout"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logout"></use></svg></a>
                        </el-tooltip>
                    </div>
                    @*<el-tooltip content="系统消息将在此显示" placement="bottom">
                        <a onclick="history.back()"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-notice"></use></svg></a>
                    </el-tooltip>
                    <el-tooltip content="您的内部信件" placement="bottom">
                        <a onclick="Reload()"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use></svg></a>
                    </el-tooltip>*@
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    @*<div id="right">
        <div id="noticeToggle"><div onclick="$('#noticeControl').toggle()" style="height:50px;width:6px;background:#FFBDBD;font-size:0px;cursor:pointer;">&nbsp;</div></div>
        <div id="noticeControl">
            <div style="padding:168px 0px;text-align:center;color:#999999;font-size:12px;font-family:微软雅黑;">待办事项</div>
        </div>
        <div style="width:100%;bottom:5px;text-align:center;font-size:12px;color:Gray;position:absolute;">Powered by Wlniao</div>
    </div>*@
    <script type="text/javascript" src="/xcenter.js"></script>
</body>
</html>