*{padding:0px;margin:0px;border:none;}
html,body {width:100%;height:100%;}
body {background:#fff;font-size:14px;color:#000;overflow:hidden;font-family:"Open Sans","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","STXihei,STHeiti","Microsoft YaHei","SimHei,sans-serif";}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input[type=text],input[type=tel],input[type=password],select,textarea {line-height:30px;border:1px solid #d8dce5;padding:0 2px;vertical-align:middle;}.el-select__input[type=text]{border:none;}
select {height:2rem;}
select option.gray {color:#999999;}
a {color:#333;text-decoration:none;cursor:pointer;}
a:hover,a:focus {opacity:0.8}
.icon {width:16px;height:16px;vertical-align:-3px;fill:currentColor;overflow:hidden;}
.icon.min {width:12px;height:12px;vertical-align:-1px;color:#dfe6ec;}
.label {text-align:right;color:#48576a;}
.clearfix:after {content:"";display:block;height:0;width:0;clear:both;}
#main {height:100%;width:100%;overflow:hidden;display:table;}
#center {display:table-cell;width:auto;position:relative;background:#f1f3f6;}
#right {height:100%;position:absolute;right:0;top:0;display:table;vertical-align:top;z-index:999;}
#left {position:inherit;height:100%;width:168px;display:table-cell;vertical-align:top;background:#1f2126;overflow:hidden;}
#left .logo {width:168px;height:60px;min-height:60px;line-height:60px;overflow:hidden;font-size:0px;text-align:center;background:#25282d url('/oem/logo-bar.png') center center no-repeat;background-size:90%;cursor:pointer}
#noticeToggle {display:table-cell;vertical-align:bottom;}
#noticeControl {height:100%;width:180px;display:none;vertical-align:top;background-color:rgb(247,247,247);border-left:1px solid rgb(235,235,235);overflow:hidden;}
.menu{height:100%;overflow-y:auto;overflow-x:hidden;}
.menu::after{content:' ';height:70px;display:block;}
.menu::-webkit-scrollbar{width:3px;}
.menu::-webkit-scrollbar-track{background-color:#F5F5F5;}
.menu::-webkit-scrollbar-thumb{background-color:#ff4949;}
.menu-group {padding:16px 0px 0px 0px;}
.menu-title {font-size:12px;color:#7c818a;padding:0px 10px;font-weight:400;}
.menu-item {display:block;width:100%;padding:5px 0px 5px 18px;font-weight:100;color:#9ba3af;}
.menu-item.has-sub {padding-left:2px;}
.menu-item-container {display:none}
.menu-item-container.no-hide {display:block}
.menu-item.router-link-exact-active {background:rgba(89,95,105,0.3);}
.menu-switch{height:20px;width:100%;display:block;text-align:center;color:#727882;background:#2b2e38;cursor:pointer;}.menu-switch > svg{transform:rotate(90deg);}
#left.min,#left.min .logo{width:54px}#left.min .logo{background-image:url('/oem/logo-min.png')}
#left.min .menu-switch > svg{transform:rotate(0deg);}
#left.min .menu-group{padding-top:0;}#left.min .menu-group:first-child {border-top:none;}
#left.min .menu-title,#left.min .menu-item > span{display:none}

.wln {background:#ffffff;border:10px solid #ffffff;height:100%;overflow:auto;}
.wln::-webkit-scrollbar{width:0px;}.wln:hover::-webkit-scrollbar{width:3px;}
.wln::-webkit-scrollbar-track{background-color:#F5F5F5;}
.wln::-webkit-scrollbar-thumb{background-color:#9ba3af;}
.wln-line{border-bottom:1px solid #dddddd;padding-top:8px;margin-bottom:8px;}
.wln-title {font-size:26px;line-height:30px;margin:6px 0px 8px 0px;padding-bottom:8px;border-bottom:1px solid #dddddd;}
.wln-title > span {font-size:15px;margin-left:12px;color:#666;}
.wln-title > a {font-size:14px;vertical-align:bottom;color:#0589B5;text-decoration:none;cursor:pointer;}
.wln-title .el-input__inner {height:34px;}
.wln-subtitle {border-left:2px solid #0099cc;font-size:20px;padding-left:6px;margin:6px 0px}
.wln-title button,.wln-subtitle button{vertical-align:middle;}
.wln-title .el-button--small,.wln-subtitle .el-button--small {line-height:16px;vertical-align:middle;}

.el-pagination {margin-top:10px;}
.el-button + .el-button {margin-left:6px;}
.el-button--mini {padding:5px 7px;font-size:13px;}
.el-tree{background-color:transparent}
.el-tree-node{margin:10px 0px;}
.el-tree-node .el-button {margin:0px 6px;font-size:13px;line-height:13px;height:17px;padding:2px 6px;border-radius:2px;}
.popover-btns button{margin:3px;}